NEXT_PUBLIC_SUPABASE_URL=https://hkkqdhzlkthafodtzzbb.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_5U4zwjJonu6QaaXFd4OV4A_0K_90D7P
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhra3FkaHpsa3RoYWZvZHR6emJiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjE0NDU3NCwiZXhwIjoyMDkxNzIwNTc0fQ.4HQVow80WHG4K9zvaAYFyxwvuGXHaQBPyYBOSu88wik

# Upstash Redis (For Rate Limiting)
UPSTASH_REDIS_REST_URL=your_upstash_url
UPSTASH_REDIS_REST_TOKEN=your_upstash_token
